p{margin-bottom: 10px;}

.section{width: 100%;position: relative; overflow: hidden; font-size: 1rem; line-height: 1.6rem;}
.section .container{ position: absolute; top: 10%; left: 50%; height: 80%;}
.section .container .main{width: 100%; margin-left: -50%; height: 100%; }

.section.one{background:rgba(0, 0, 0, 0.5);}
.section.one .container{ padding: 0;}
.section.one video{position: fixed; left: 0; top:-20%; width: 100%; z-index: -1; }
.section.one h5{color: #0ff;}
.section.one .main h2{text-align: center; margin: -1rem 0 2rem; font-size: 3rem; font-weight: 700;}
.section.one .left-box{transform: translateX(-1000px);perspective: 1000px;transform-style: preserve-3d; transition: all .5s .5s;}
.section.one .left-box h5{text-align: right; padding-right: 10%; margin-bottom: -10px;}
.section.one .jineng{color: #eee; padding: 10px; padding-left: 30px; transition: all .5s 0.7s; border: 1px solid #0ff; background: rgba(0, 0, 0, .7); border-radius: 5px;}
.section.one .jineng p{display: list-item; list-style:decimal; transform: scaleY(0); transition: all 1s 1.5s;}
.section.one .jineng span{font-weight: 700;}

.section.one .right-box{transform: translateX(1000px); transition: all .5s .5s;}
.section.one .right-box .list-group{position: relative; height: 90%;}
.section.one .right-box h6{color: #79facf; width: 100%; position: absolute; left: 0; top: 0; transition: all .5s 0.8s; padding: 1rem 0; margin: 10px 0; text-align: center; font-size: 1.2rem; border: 1px solid #0ff;}
.section.one .right-box h6:before,.section.one .right-box h6:after,.section.one .right-box h6 span:before,.section.one .right-box h6 span:after {content: ''; position: absolute;top: 0;left: 0;width: 100%;height: 0;background: rgba(0, 255, 255, 0.25);transition: 0.4s; z-index: 0;}
.section.one .right-box h6:after,.section.one .right-box h6 span:before {top: auto;bottom: 0;}
.section.one .right-box h6 span:before,.section.one .right-box h6 span:after {transition-delay: 0.4s;}
.section.one .right-box h6:hover span{color: #9afbd6;}
.section.one .right-box h6:hover:before, .section.one .right-box h6:hover:after,
.section.one .right-box h6:hover span:before,.section.one .right-box h6:hover span:after { height: 100%;}

.section.one.this h2{animation: jumpDown 3s;}
.section.one.this .left-box{transform: translateX(0px)}
.section.one.this .right-box{transform: translateX(0px)}
.section.one.this .jineng{transform: rotateY(25deg);}
.section.one.this .jineng p{transform: scaleY(1);}
.section.one.this .right-box h6:nth-child(2){top: 25%;}
.section.one.this .right-box h6:nth-child(3){top: 50%;}
.section.one.this .right-box h6:nth-child(4){top: 75%;}


.section.two{background: url('../images/index/s_picbg_right.png') #fff no-repeat; background-position:  100% bottom; background-size: auto 150%;}
.section.two .info{padding-top: 10%;}
.section.two .info li{color: #333; line-height: 2rem;}
.section.two .img-box{position: relative; height: 100%;}
.section.two .img-box img{position: absolute; left: -20%; top: 0; transform-origin: 0 0; margin-top: -200px; opacity: 0; transform: scale(0.4); transition: all 0.5s; width: 300px; z-index: 1; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);}
.section.two img.img2{transform: scale(0.45); top:5%; left:-15%; z-index: 2; transition-delay: 0.3s;}
.section.two img.img3{transform: scale(0.5); top:10%; left: -10%; z-index: 3; transition-delay: 0.6s;}
.section.two img.img4{transform: scale(0.55); top:15%; left: -5%; z-index: 4; transition-delay: 0.9s;}
.section.two img.img5{transform: scale(0.65); top:20%; left: 0; z-index: 5; transition-delay: 1.2s;}
.section.two img.img6{transform: scale(0.78); top:25%; left: 5%; z-index: 6; transition-delay: 1.5s;}
.section.two img.img7{transform: scale(0.95); top:30%; left: 10%; z-index: 7; transition-delay: 1.8s;}
.section.two img.img8{transform: scale(1.3); top:35%; left: 15%; z-index: 8; transition-delay: 2.1s;}
.section.two img.img9{transform: scale(1.5); top:40%; left: 20%; z-index: 9; transition-delay: 2.4s;}
.section.two.this .main{}
.section.two.this .img-box img{ margin-top: 0; opacity: 0.8; }


.section.three{background: url('../images/databg.jpg') no-repeat center; background-size: cover; background-attachment: fixed; text-align: center;}
.section.three .container{ top: 5%;}
.section.three h3{text-shadow: 0 0 5px rgba(0, 0, 0, .7); opacity: 0;}
.section.three p.msg{padding-bottom: 30px; text-shadow: 0 0 2px rgba(0, 0, 0, .7);}
.section.three img{width: 90%;}
.section.three .svg-wrapper{margin-top: 10px;}
.section.three .svg-wrapper .shape{stroke: #fff;}
.section.three .svg-wrapper .text a{color: #fff; text-shadow: 0 0 2px rgba(0, 0, 0, .7);}
.section.three .img-left{transform: translateY(-500px); opacity: 0; transition: all 1s;}
.section.three .img-right{transform: translateY(500px); opacity: 0; transition: all 1s;}
.section.three.this h3{animation: jumpDown 3s 1s forwards;}
.section.three.this p.msg{animation: jumpDown 3s;}
.section.three.this .img-left{transform: translateY(0); opacity: 1;}
.section.three.this .img-right{transform: translateY(0); opacity: 1;}

.section.four{background: url('../images/index/in_img03.jpg') no-repeat center; color: #fff; background-size: cover;}
.section.four .main{position: absolute; width: 90%; left: 5%; height: 60%; top: 20%;}
.section.four .title{width: 90%; height: 100%; padding: 30% 10% 0 0; border-right: 3px solid #fff;}
.section.four .title h3{margin-bottom: 20px; font-size: 2.5rem; transform: scale(10); opacity: 0; transition: all 0.5s .5s;}
.section.four .title p{ font-size: 1.2rem; transform: scale(10); opacity: 0; transition: all 0.5s 1s;}
.section.four .box{transform: scale(10); opacity: 0; transition: all 0.5s;}
.section.four .box img{width: 100%;}
.section.four .box h5{line-height: 2em; font-size: 1rem; margin: 0;}
.section.four .box p{font-size: 0.8rem; line-height: 1.4rem; color: #aaa;}
.section.four .box .content{background: #000; padding: 5px;}
.section.four.this .title h3{transform: scale(1); opacity: 1;}
.section.four.this .title p{transform: scale(1); opacity: 1;}
.section.four.this .box{transform: scale(1); opacity: 1;}

.section.five{background: url('../images/gamebg.jpg') no-repeat center; background-size: cover; color: #fff; background-attachment: fixed;}
.section.five .container{height: 100%; top: 0%;padding-top: 3%; text-align: center;}

.section.five .title{ font-size: 1.2rem; transform: scale(10); opacity: 0; transition: all 0.5s 1s;}
.section.five h3{ margin: 0 0 10px; font-size: 2rem;}

.roll3D{width:100%; height:100%; position:relative;transform: translateY(-500px); opacity: 0;}
.roll3D .jiantou img{width:50px; height:50px; cursor:pointer;}
.roll3D .left{position:absolute; left:0; top:50%; margin-top: -25px; z-index: 20;}
.roll3D .right{position:absolute; right:0; top:50%; margin-top: -25px; z-index: 20;}
.roll3D .picmian{width:100%; height:88%; margin:0 auto; position:relative; background: url('../images/index/section5.png') no-repeat center 90%; background-size: 80% auto;}
.roll3D ul{perspective: 1000px;} 
.roll3D li{position:absolute; width:200px; height:240px; margin-left: -100px; list-style: none; border:3px solid #440282; transition: all 1s; box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);}
.roll3D li img{width:100%;}
.roll3D li h2{background:#440282; color:#fff; width:100%; line-height:40px; margin: 0; text-align:center; font-size:16px; position:absolute; bottom:0px; font-weight:bold;}
.roll3D li.center{left:50%; top:200px; transform:rotatey(0deg) scale(1.2); z-index:99;  opacity:1}
.roll3D li.left1{left:70%; top:170px; transform:rotatey(30deg) scale(1.1); z-index:88; opacity:1}
.roll3D li.left2{left:83%; top:80px; transform:rotatey(60deg) ; opacity:1}
.roll3D li.left3{left:70%; top:30px; transform:rotatey(130deg); opacity:0.5;}
.roll3D li.left4{left:50%; top:0px; transform:rotatey(180deg); opacity:0.5;}
.roll3D li.left5{left:30%; top:30px; transform:rotatey(220deg); opacity:0.5;}
.roll3D li.left6{left:18%; top:80px; transform:rotatey(300deg); opacity:1;}
.roll3D li.left7{left:30%; top:170px; transform:rotatey(330deg) scale(1.1); opacity:1; z-index:88;}
.section.five.this .roll3D{animation: jumpDown2 2s forwards;}
.section.five.this .title{transform: translateY(0); opacity: 1;}


.aside.menu{position: fixed; right: 2px; top: 50%; font-size: 13px; line-height: 15px; text-align: center; color: #ddd; text-shadow: 1px 1px 3px #000;}
.aside.menu li{list-style: none; width: 50px; height: 50px; padding: 10px; cursor: pointer; background: url('../images/index/aside.png') no-repeat center; margin-bottom: 5px; transition: all .5s;;}
.aside.menu li.on{color: #0ff; font-weight: 700; transform: scale(1.2); margin: 10px 0;}


.svg-wrapper{margin-top:0;position:relative;width:150px;height:40px;display:inline-block;border-radius:3px;margin-left:5px;margin-right:5px}
.svg-wrapper .shape{stroke-width:6px;fill:transparent;stroke:#009FFD;stroke-dasharray:85 400;stroke-dashoffset:-220;transition:1s all ease}
.svg-wrapper .text{margin-top:-35px;text-align:center}
.svg-wrapper .text a{color:#009FFD;text-decoration:none;font-weight:100;font-size:1.1em;transition:1s all ease}
.svg-wrapper:hover .shape{stroke-dasharray:50 0;stroke-width:3px;stroke-dashoffset:0;stroke:#027c5c}
.svg-wrapper:hover .text a{color: #027c5c; font-weight: 700;}

@keyframes jumpDown{
    0%{transform: translateY(-200px); opacity: 0;}
    20%{transform: translateY(20px) scaleY(1.4); opacity: 1;}
    21%{transform: translateY(-20px) scaleY(0.7);}
    23%{transform: translateY(10px) scaleY(1.2);}
    26%{transform: translateY(-10px) scaleY(0.8);}
    30%{transform: translateY(10px) scaleY(1.2);}
    35%{transform: translateY(-10px) scaleY(0.8);}
    41%{transform: translateY(0px) scaleY(1);}
    60%{transform: scale(1.5)}
    70%{transform: rotateY(90deg) scale(1)}
    90%{transform:  rotateY(0deg) scale(1.5)}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes jumpDown2{
    0%{transform: translateY(-500px); opacity: 0;}
    20%{transform: translateY(50px) scaleY(1.4); opacity: 1;}
    25%{transform: translateY(-50px) scaleY(0.7);}
    30%{transform: translateY(50px) scaleY(1.2);}
    35%{transform: translateY(-50px) scaleY(0.8);}
    40%{transform: translateY(30px) scaleY(1.2);}
    45%{transform: translateY(-30px) scaleY(0.8);}
    50%{transform: translateY(30px) scaleY(1.2);}
    55%{transform: translateY(-30px) scaleY(0.8);}
    60%{transform: translateY(0px) scaleY(1); opacity: 1;}
    100%{transform: translateY(0px) scaleY(1); opacity: 1;}
}
